<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.product.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.product.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressManagement</servlet-name>
        <servlet-class>controller.customer.profile.AddressManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddress</servlet-name>
        <servlet-class>controller.customer.profile.AddAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManagement</servlet-name>
        <servlet-class>controller.customer.profile.CustomerManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>controller.customer.profile.DeleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>controller.customer.profile.UpdateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>controller.customer.login.ManagerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerChangePassword</servlet-name>
        <servlet-class>controller.customer.profile.ManagerChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.cartController.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController_temp</servlet-name>
        <servlet-class>controller.product.CustomerController_temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.customer.profile.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>controller.customer.profile.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>conntroller.order.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueChartServlet</servlet-name>
        <servlet-class>controller.product.RevenueChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrPayment</servlet-name>
        <servlet-class>controller.cartController.QrPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueController</servlet-name>
        <servlet-class>controller.product.RevenueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendVerificationEmail</servlet-name>
        <servlet-class>controller.customer.profile.SendVerificationEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>controller.customer.profile.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.customer.profile.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyResetCodeServlet</servlet-name>
        <servlet-class>controller.customer.profile.VerifyResetCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.customer.profile.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.product.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategoryController</servlet-name>
        <servlet-class>controller.product.SubCategoryController</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>controller.product.VoucherController</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>ViewVoucher</servlet-name>
        <servlet-class>controller.customer.profile.ViewVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>controller.comment.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCommentController</servlet-name>
        <servlet-class>controller.comment.EditCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCommentController</servlet-name>
        <servlet-class>controller.comment.InsertCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackControllers</servlet-name>
        <servlet-class>controller.feedback.FeedbackControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderProductsForFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.GetOrderProductsForFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.product.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>controller.voucher.VoucherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
        <url-pattern>/new</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/newedit</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
        <url-pattern>/new-category</url-pattern>
        <url-pattern>/insert-category</url-pattern>
        <url-pattern>/newedit-category</url-pattern>
        <url-pattern>/newedit-attribute</url-pattern>
        <url-pattern>/edit-category</url-pattern>
        <url-pattern>/edit-attribute</url-pattern>
        <url-pattern>/delete-category</url-pattern>
        <url-pattern>/delete-attribute</url-pattern>
        <url-pattern>/add-attribute</url-pattern>
        <url-pattern>/insert-attribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController_temp</servlet-name>
        <url-pattern>/CustomerController_temp</url-pattern>
        <url-pattern>/admin-edit-account</url-pattern>
        <url-pattern>/admin-update-account</url-pattern>
        <url-pattern>/admin-delete-account</url-pattern>
        <url-pattern>/admin-toggle-status</url-pattern>
        <url-pattern>/admin-search-account</url-pattern>
        <url-pattern>/admin-add-account</url-pattern>
        <url-pattern>/admin-view-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
        <url-pattern>/viewOrderDetails</url-pattern>
        <url-pattern>/listAdminOrders</url-pattern>
        <url-pattern>/updateOrderStatus</url-pattern>
        <url-pattern>/searchByPhone</url-pattern>
        <url-pattern>/viewOrderDetails_customer</url-pattern>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homeController.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.cartController.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.cartController.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/home-search</url-pattern>
        <url-pattern>/product-detail</url-pattern>
        <url-pattern>/add-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/updateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.customer.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.customer.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.customer.register.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.customer.profile.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.customer.profile.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressManagement</servlet-name>
        <url-pattern>/listAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddress</servlet-name>
        <url-pattern>/addAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManagement</servlet-name>
        <url-pattern>/CustomerManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/deleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/updateAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/login-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerChangePassword</servlet-name>
        <url-pattern>/managerchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/listOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueChartServlet</servlet-name>
        <url-pattern>/revenue-chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrPayment</servlet-name>
        <url-pattern>/qrpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueController</servlet-name>
        <url-pattern>/RevenueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendVerificationEmail</servlet-name>
        <url-pattern>/SendVerificationEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyResetCodeServlet</servlet-name>
        <url-pattern>/VerifyResetCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
        <url-pattern>/admin-search-manager</url-pattern>
        <url-pattern>/admin-view-manager</url-pattern>
        <url-pattern>/admin-toggle-manager-status</url-pattern>
        <url-pattern>/admin-insert-manager</url-pattern>
        <url-pattern>/admin-add-manager</url-pattern>
        <url-pattern>/admin-edit-manager</url-pattern>
        <url-pattern>/admin-update-manager</url-pattern>
        <url-pattern>/admin-delete-manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategoryController</servlet-name>
        <url-pattern>/SubCategoryController</url-pattern>
        <url-pattern>/new-subcategory</url-pattern>
        <url-pattern>/insert-subcategory</url-pattern>
        <url-pattern>/newedit-subcategory</url-pattern>
        <url-pattern>/delete-subcategory</url-pattern>
        <url-pattern>/edit-subcategory</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewVoucher</servlet-name>
        <url-pattern>/voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/delete-comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCommentController</servlet-name>
        <url-pattern>/edit-comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCommentController</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackControllers</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderProductsForFeedbackServlet</servlet-name>
        <url-pattern>/GetOrderProductsForFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
        <url-pattern>/viewFeedback</url-pattern>
        <url-pattern>/admin-delete-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherController</servlet-name>
        <url-pattern>/VoucherController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
